* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(14, 98, 255) , rgb(14, 98, 255));
}

.main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 340px 1fr;
    justify-items: center;
    align-items: center;
}

ul {
  list-style-type: georgian;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.board {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    justify-items: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background-color: #004d00;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #004d00;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.key {
    display: grid;

    grid-template-columns:  1fr 3fr;
    justify-items: center;
    align-items: center;
    width: 280px;
    height: 400px;
    background-color: #2eb82e;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #004d00;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 47px;
    height: 47px;

    border-width: 4px;
    border-style: inset;

    padding: 10px;
}

.square[premium="none"] {
    background-color: #33cc33;
    border-color: #33cc33;
}

.square[premium="start"] {
    background-color: #ffb84d;
    border-color: #ffb84d;
}

.square[premium="double_letter"] {
    background-color: #66ccff;
    border-color: #66ccff;
}

.square[premium="double_word"] {
    background-color: #ffc6b3;
    border-color: #ffc6b3;
}

.square[premium="triple_letter"] {
    background-color: #005ce6;
    border-color: #005ce6;
}

.square[premium="triple_word"] {
    background-color: #ff3300;
    border-color: #ff3300;
}


.square .tile {

    background-color: #ffcc99;

    cursor: pointer;

    min-width: 48px;
    min-height: 48px;
    text-align: center;
    vertical-align: middle;

    border-width: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color:  #e59866 ;
    font-size: 22px;
}

.bag {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
    width: 700px;
    height: 700px;
    background-color: #2eb82e;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #004d00;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 55px;
    height: 55px;

    border-width: 5px;
    border-style: dashed;

    padding: 10px;

    background-color: #2aa22a;
    border-width: 5px;
    border-radius: 5px;
    border-color: #2aa22a;
    border-style: inset;
    font-size: 22px;
}

.tile {

    background-color: #ffcc99;

    cursor: pointer;

    min-width: 48px;
    min-height: 48px;
    text-align: center;
    vertical-align: middle;

    border-width: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color:  #e59866 ;
    font-size: 22px;
}

.rack {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    width: 750px;
    height: 100px;
    background-color: #801a00;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #661400;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.rack .space {
    background-color: #801a00;
    border-width: 5px;
    border-radius: 5px;
    border-color: #991f00;
    border-style: inset;
    font-size: 22px;
}

.solvebutton {
    width: 165px;
    height: 50px;
    background-color: #ff3300;
    border-width: 5px;
    border-radius: 5px;
    border-style: outset;
    border-color: #cc2900;
    font-size: 22px;
    color: #000000;
}

.solvebutton:active {
    border-style: inset;
    background-color: #b32400;
}

.solvesolution {
    width: 165px;
    height: 250px;
    text-align: center;
    background-color: #3366ff;
    border-width: 5px;
    border-radius: 5px;
    border-style: outset;
    border-color: #3366ff;
    font-size: 18px;
}
